@use 'src/assets/scss/colors';

/* Extra */
$primary: #fff;
$secondary: #ccc;
$ternary: #272727;
$dark: #444444;
/*
body {
  background: $secondary;
  color: $ternary;
  font-size: 14px;
  margin: 0;

}*/

.logo {
  max-width: 200px;
  position: relative;
  left: 50px;
  top: 50px;
  height: 0;

}

nav {
  margin: 34px;
  padding: 16px;
  .nav-container {
    align-items: center;
    background: transparent;
    /*box-shadow: 0 5px 20px rgba(0,0,0,0.2);*/
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding: 10px 50px;
  }
}


ul {
  display: flex;
  gap: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    padding: 0 8px 0 8px;
    color: #ccc;
    font-family: Victor;
    font-size: 1.8em;
  }

  .active-link {
    /*background-color: yellow;*/
    color: black;
    border-bottom: 5px solid colors.$yellow;
    transition: 0.8s;
    font-weight: 700;
    transition: .8s;
  }
}
