@use 'src/assets/scss/colors';


header {
  background-color: colors.$dark;
  color: colors.$white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 2.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: colors.$yellow;
}

.social-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  img {
    height: 1.5rem;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.hamburger-menu {
  display: none; // Hidden on desktop
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: colors.$white;
    margin: 5px 0;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 768px) {
  .social-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .header-container {
    padding: 0 1.5rem;
  }
}
