@use 'src/assets/scss/colors';
main {
    // height: 100vh;
    // display: flex;
}

.container {
    // margin: auto;
    background-color: colors.$dark;
    border-radius: 26px;
    box-shadow: 0px 10px 37px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 37px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 37px -9px rgba(0,0,0,0.75);
}

aside {
    width: 350px;
}

main {
    width: 420px;
}

nav {
    width: 120px;
}