header {
  height: 4rem;
  background-color: oldlace;
}

.card {
  height: 250px;
}


/***  scroll bar style  ***/
::-webkit-scrollbar {
  width: 6px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: salmon;
  border-radius: 8px;
}