<section class="center">
  <span id="say-hello">
    Hola, Yo soy <span id="my-name">¡Henrry Gutierrez!</span>
  </span>
  <div id="spacer"></div>
  <div class="h1a">
    <h1 class="h1">Mobile Developer</h1>
    <h1 class="h1">FullStack Developer</h1>
    <h1 class="h1">Java Developer</h1>
  </div>
  <div class="block"></div>
</section>

<section class="lottie">
  <main
    lottie
    [options]="options2"
    (animationCreated)="animationCreated($event)"
  ></main>
</section>

<ng-lottie
  width="200px"
  height="200px"
  containerClass="moving-box another-class"
  [options]="options"
  class="computer"></ng-lottie>

  