<p>school-library works!</p>

<section>
    <div class="card">
        <img loading="lazy" src="assets/imgs/ia.jpg" alt="image">
        <div>
            <h2>Invest in ...</h2>
            <h3>Type: resi... </h3>
            <p>Soon you can ...</p>
            <button> Show the ...</button>
        </div>
    </div>
</section>

<input id="textoPar" [formControl]="miTexto" type="text" pattern="\d*" (keyup)="onChangeTExt($event)">

<div *ngIf="!miTexto.valid">
    is a bad value
</div>

<section>
    <label for="userBame">Usuario</label>
    <input
        type="text"
        id="user"
        name="userName"
        pattern="[\sa-zA-Z]+"
    >
    <div class="error-message">
        utiliza sólo letras
    </div>
</section>
