@use 'src/assets/scss/colors';

:host {
  display: block;
}

#img-profile {
  height: 9rem;
  width: 12rem;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.1);
  border: 0.3rem solid colors.$yellow;
}

.content-img {
  display: flex;
  justify-content: center;
  margin-top: -6rem;
}

p {
  line-height: normal;
}

#profile-header {
  /*margin: 1rem 0;*/
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;

  h2 {
    margin: .5rem;
    font-size: x-large;
  }

  .subtitle-container {
    padding: 0 .5rem;
    background: colors.$yellow;
    border-radius: .2rem;
  }

  h3 {
    padding: 0;
    color: colors.$dark;
    font-size: medium;
    margin: .6rem .8rem;
  }

  .social-media-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    a {
      padding: .2rem;
      border-radius: .2rem;
      background: #fa8072;
    }
  }
}

#profile-container {
  margin-top: 1.2rem;
  padding: 1rem;
  border-radius: .5rem;
  background: colors.$yellow;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  /*.information-container {

  }*/

  .detail-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}

.icon-img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: .2rem;
  padding: .4rem;
  border: 0.0rem solid #ffffff;
  background-color: colors.$white;
}

.info-icon {
  font-size: 2.5rem;
}