
<picture>

</picture>

<section class="content-img">
    <img src="assets/imgs/garou.webp" alt="">
</section>


<header>
    <h2>Henrry Gutierrez</h2>
    <div class="subtitle-container">
        <h3>Full Stack Dev</h3>
    </div>
    <div class="social-media-container">
        @for (item of socialMediaItems; track $index) {
            <a href="http://"> <span [ngClass]="item.icon">icon</span> </a>
        }
    </div>
</header>


<main>
    @for (item of informationItems; track $index) {
        <div class="information-container">
            <span>icon</span>
            <div class="detail-container">
                <span class="">title</span>
                @switch (item.type) {
                    @case ('phone') {

                        <h3><a href="tel:+5109090">{{item.information}}</a></h3>
                    }

                    @case ('email') {
                        <h3><a href="mailto:">{{item.information}}</a></h3>
                    }

                    @default {
                        <h3>item.information</h3>
                    }
                }
            </div>
        </div>

    }
</main>
