


<section class="content-img">
    <picture>
        <img id="img-profile" src="assets/imgs/garou.webp" alt="">
    </picture>
</section>


<header id="profile-header">
    <h2>Henrry Gutierrez</h2>
    <div class="subtitle-container">
        <h3>Software Engineer</h3>
    </div>
    <div class="social-media-container">
        @for (item of socialMediaItems; track $index) {
            <!--<a href="http://"> <span [ngClass]="item.icon">icon</span> </a>-->
            <img class="icon-img" [src]="item.icon" alt="">
        }
    </div>
</header>


<main id="profile-container">
    @for (item of informationItems; track $index) {
        <div class="information-container">
            <img class="icon-img" [src]="item.icon" alt="" [title]="item.title">
            <!-- <div class="detail-container">
                <span class="">{{item.title}}</span>
            </div> -->
        </div>

    }
</main>
