@use 'src/assets/scss/colors';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@font-face {
    font-family: victor;
    src: url(assets/fonts/Victor_Mono/VictorMono-VariableFont_wght.ttf);
}

html, body { padding: 0; margin: 0; }

* {
    font-family: victor, 'Lucida Sans';
}


body {
    // height: 100%;
    background-color: colors.$gray;
    color: colors.$white;
    overflow-x: hidden;
}

.space-s {
    height: .5rem;
}