<app-main-content-header [title]="'Projects'" />

<header id="projects-header">
  <div class="title">
    Projects
  </div>
  <nav id="projects-nav">
    <a href="">All</a>
    <a href="">Full Stack</a>
    <a href="">Frontend</a>
    <a href="">Backend</a>
    <a href="">Mobile</a>
  </nav>
</header>

<section class="projects-container">
  @for (item of projects; track item.title) {
    <div class="card">
      <img [src]="item.icon" alt="Avatar" class="avatar" loading="lazy">
      <h2> {{ item.title }} </h2>
      <p>{{ item.description }}</p>
      <div class="tec-container">
        @for (tag of item.tecnologies; track tag) {
          <span class="tag">{{ tag }}</span>
        }
      </div>
    </div>
  }
</section>
