@use 'src/assets/scss/colors';

.title {
  font-size: xx-large;
  margin: .5rem;
  padding: .5rem;
}

#projects-header {
  height: 6rem;
  position: sticky;
  top: 0;
  z-index: 99;
  background: colors.$yellow;
  color: colors.$dark;
}

#projects-header a {
  text-decoration: none;
  color: colors.$dark;
  h2 {
    margin: 0;
    font-size: 24px;
  }

  p {
    margin-top: 5px;
    font-size: 18px;
    opacity: 0.8;
  }
}

#projects-nav {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding-right: 2rem;
}

